/* BASE */
body {
    font-family: var(--main-font);
    background-color: #fff;
    color: #333;
}

main {
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;

    width: 10.06rem;
    height: 3rem;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;

    border-radius: 1.5625rem;

    transition: background-color .3s, border .3s;
}

.btn:hover {
    background-color: #6329A2;
    border-color: #6329A2;
    color: white;
}

.btn-outline {
    background: transparent;
    border: 0.125rem solid white;
}

.btn-filled {
    background-color: #fff;
    color: #6329A2;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
    main {
        max-width: 100vw;
    }
}