/* FOOTER STYLES */

.footer {
  background: #333;
  color: #fff;
  padding: 2.5rem 0 0 0;
  font-family: var(--main-font);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.footer-left {
  flex: 1;
  min-width: 13.75rem;
}

.footer-newsletter label {
  display: block;
  font-size: 1rem;
}

.footer-newsletter input[type="email"] {
  width: 100%;
  max-width: 16.25rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  border: none;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.footer-social {
  margin-bottom: 1.5rem;
}

.footer-social span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.social-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 0.125rem #fff;
  color: #fff;
  font-size: 1.3rem;
  transition: background 0.2s;
}

.social-list li a:hover {
  background-color: #7c3aed;
  border-color: #7c3aed;
}

.footer-menus {
  display: flex;
  flex: 2;
  justify-content: space-between;
  gap: 1rem;
}

.footer-menu {
  min-width: 7.5rem;
  font-size: 1.25rem;
}

.footer-menu span {
  display: block;
  font-weight: 400;
  color: #ededed;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.footer-menu ul {
  list-style: none;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.footer-menu ul li a {
  margin-bottom: 0.25rem;
  color: #fff;
}

.footer-menu ul li a:hover {
  text-decoration: underline;
}

.footer-menu ul li:not(:last-child) {
  margin-bottom: 0.25rem;
}

.footer-divider {
  border: none;
  border-top: 0.125rem solid #bbb;
  margin: 2rem 0 1rem 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer-copy {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  .footer-content {
    width: 100%;
  }

  .footer-newsletter input[type="email"] {
    width: 80%;
  }
}