/* ESTILO DO MENU */

.header {
    background-color: #fff;
    position: fixed;
    top: 3.75rem;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 7.5rem);
    border-radius: 0.9375rem;
    z-index: 999;
    padding: 0.75rem 2.5rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 9.375rem;
}

.nav-center ul,
.nav-right ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a {
    font-weight: 400;
    font-size: 1.25rem;
    color: --var(--font-color-menu);
}
.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}

.nav-right ul svg:hover {
    opacity: .7;
}