/* ESTILO DO BANNER / HERO */

.hero {
    background: url(../../images/banners/modelo-homem.png) no-repeat center;
    background-size: cover;

    width: calc(100% - 5rem);
    height: 31.25rem;
    
    position: relative;
    z-index: 998;
    margin: 2.5rem;
    border-radius: 1.25rem;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content {
    color: white;
    max-width: 24.25rem;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: .5rem;
    margin: 0 0 .5rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    width: 10.06rem;
    height: 3rem;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5625rem;
    transition: background-color .3s, border .3s;
}

.btn:hover {
    background-color: #6329A2;
    border-color: #6329A2;
    color: white;
}

.btn-outline {
    background: transparent;
    border: 0.125rem solid white;
}

.btn-filled {
    background-color: #fff;
    color: #6329A2;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
    .hero {
        height: 25rem;
        margin: 2rem;
        width: calc(100% - 4rem);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-overlay {
        justify-content: center;
    }

    .hero-content {
        margin-top: 1rem;
        padding: 0 1rem;

        min-width: 100%;
    }

    .hero-title, .hero-subtitle {
        margin-bottom: 20px;
    }
}