.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    border-radius: 0.9375rem;
    transition: background 0.3s;
    pointer-events: none;
    z-index: 2;
}

.cat-card:hover .overlay::after {
    background: rgba(0,0,0,0.4);
}

.cat-section {
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
}

.cat-card {
    width: 19.81rem;
    height: 31.25rem;
    border-radius: 0.9375rem;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;

    background-color: transparent;
}

.cat-card .overlay {
    position: absolute;
    
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 2;
}

.casual {
    background: url(../../images/categorias/tenis-casual.png);
    background-size: cover;
    background-position: center;
}
.esportivo {
    background: url(../../images/categorias/tenis-exportivo.png);
    background-size: cover;
    background-position: center;
}
.colorido {
    background: url(../../images/categorias/tenis-colorido.png);
    background-size: cover;
    background-position: center;
}
.futurista {
    background: url(../../images/categorias/tenis-futurista.png);
    background-size: cover;
    background-position: center;
}

.cat-card .btn {
    position: relative;
    z-index: 2;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
    .cat-section {
        padding: 0.625rem 2rem;
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .cat-section {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        font-size: 0;
        padding: 0 1rem 2rem 1rem;
    }

    .cat-section::-webkit-scrollbar {
        height: 8px;
    }

    .cat-section::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    .cat-section::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .cat-card {
        display: inline-block;
        width: 90%;
        margin-right: 1.875rem;
        vertical-align: top;
        font-size: 1rem;
        text-align: center;
    }

    .cat-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .cat-card:first-child {
        margin-left: 1rem;
    }
}

@media (max-width: 600px) {
    .cat-section {
        padding: 0 0px 10px 0px;
    }

    .cat-card {
        margin-right: 10px;
    }

    .cat-card:first-child {
        margin-left: 10px;
    }
}